html
  height: 100vh

body
  background-color: black
  width: 100%
  height: 100%

header
  height: 100vh
  background-color: yellow
    size: cover
    position: center
  margin-bottom: 50px

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

  .kicker-holder
    max-width: 500px
    margin: 0 auto
    display: block
    text-align: center

    .kicker
      font-family: Apple symbols
      text-align: center
      letter-spacing: 0.03em
      //color: black
      line-height: 1
      text-transform: lowercase
      font-size: 20px
      font-weight: 500
      margin: 0 15px
      display: inline-block
      opacity: 0

    #kicker-1
      color: black
      text-shadow: 10px 15px 15px rgba(1,1,1,1)

    #kicker-2
      color: black
      text-shadow: 10px 15px 15px rgba(1,1,1,1)

    #kicker-3
      color: black
      text-shadow: 10px 15px 15px rgba(1,1,1,1)

    #kicker-4
      text-transform: uppercase
      font-size: 40px
      text-align: center
      height: 75px
      position: relative
      transform: translateY(-50%)
      overflow: hidden
      color: black
      //text-shadow: 10px 15px 15px rgba(1,1,1,1)
      opacity: 80
      letter-spacing: 10px
      margin: -6% auto   
      font-family: 800 9rem Montserrat, sans-serif
   
